<nav class="px-5 md:px-10 lg:px-20 py-2 shadow-xs">
  <div class="mx-auto flex items-center justify-between">
    <img class="h-10" src="images/logo.png" alt="Logo" />

    <button
      class="lg:hidden flex items-center text-gray-700"
      onclick="document.getElementById('mobileMenu').classList.toggle('hidden')"
    >
      <img class="w-8 cursor-pointer" src="images/menu.png" alt="menu" />
    </button>

    <ul class="hidden lg:flex items-center gap-8 font-medium text-gray-700">
      <app-nav-item [routePath]="'home'" [text]="'Home'" />
      <app-nav-item [routePath]="'foods'" [text]="'Foods'" />
      <app-nav-item [routePath]="'restaurants'" [text]="'Restaurants'" />
      <app-nav-item [routePath]="'cart'" [text]="'Cart'" />
      <app-nav-item [routePath]="'about'" [text]="'About'" />
    </ul>

    <button
      routerLink="profile"
      class="hidden lg:block cursor-pointer text-white transition bg-[#39DB4A] hover:bg-green-600 px-5 py-2 rounded-full"
    >
      Profile
    </button>
  </div>

  <div id="mobileMenu" class="lg:hidden hidden mt-4">
    <ul class="flex flex-col items-center gap-4 font-medium text-gray-700">
      <app-nav-item [routePath]="'home'" [text]="'Home'" />
      <app-nav-item [routePath]="'foods'" [text]="'Foods'" />
      <app-nav-item [routePath]="'restaurants'" [text]="'Restaurants'" />
      <app-nav-item [routePath]="'cart'" [text]="'Cart'" />
      <app-nav-item [routePath]="'about'" [text]="'About'" />
      <app-nav-item [routePath]="'profile'" [text]="'Profile'" />
    </ul>
  </div>
</nav>
