<nav class="px-5 md:px-10 lg:px-20 py-2 shadow-xs">
  <div class="mx-auto flex items-center justify-between">
    <!-- Left: Logo -->
    <a routerLink="/home" class="max-sm:hidden">
      <img class="h-10" src="images/logo.png" alt="Logo" />
    </a>

    <!-- Center: Nav Items -->
    <ul class="hidden lg:flex items-center gap-8 font-medium text-gray-700 mx-auto">
      <app-nav-item [routePath]="'home'" [text]="'Home'" />
      <app-nav-item [routePath]="'foods'" [text]="'Foods'" />
      <app-nav-item [routePath]="'restaurants'" [text]="'Restaurants'" />
      <app-nav-item [routePath]="'cart'" [text]="'Cart'" />
      <app-nav-item [routePath]="'about'" [text]="'About'" />
    </ul>

    <!-- Right: Auth Buttons -->
    <div class="hidden lg:flex items-center space-x-4" *ngIf="!isAuthPage">
      <ng-container *ngIf="!isLoggedIn; else profileBtn">
        <button
          routerLink="/login"
          class="px-4 py-2 text-sm rounded-full font-medium cursor-pointer tracking-wide text-slate-900 border border-gray-400 bg-transparent hover:bg-gray-50 transition-all"
        >
          Login
        </button>
        <button
          routerLink="/signup"
          class="px-4 py-2 text-sm rounded-full font-medium cursor-pointer tracking-wide text-white border border-[#39DB4A] bg-[#39DB4A] hover:bg-green-600 transition-all"
        >
          Sign Up
        </button>
      </ng-container>

      <ng-template #profileBtn>
        <button
          routerLink="/profile"
          class="px-4 py-2 text-sm rounded-full font-medium cursor-pointer tracking-wide text-white border border-[#39DB4A] bg-[#39DB4A] hover:bg-green-600 transition-all"
        >
          Profile
        </button>
      </ng-template>
    </div>

    <!-- Mobile menu button -->
    <button
      class="lg:hidden flex items-center text-gray-700"
      onclick="document.getElementById('mobileMenu').classList.toggle('hidden')"
    >
      <img class="w-8 cursor-pointer" src="images/menu.png" alt="menu" />
    </button>
  </div>

  <!-- Mobile Menu -->
  <div id="mobileMenu" class="lg:hidden hidden mt-4">
    <ul class="flex flex-col items-center gap-4 font-medium text-gray-700">
      <app-nav-item [routePath]="'home'" [text]="'Home'" />
      <app-nav-item [routePath]="'foods'" [text]="'Foods'" />
      <app-nav-item [routePath]="'restaurants'" [text]="'Restaurants'" />
      <app-nav-item [routePath]="'cart'" [text]="'Cart'" />
      <app-nav-item [routePath]="'about'" [text]="'About'" />
      <app-nav-item *ngIf="isLoggedIn" [routePath]="'profile'" [text]="'Profile'" />
    </ul>
  </div>
</nav>
