<div class="flex flex-col items-center my-10 mx-5">
  <h1 class="text-4xl md:text-6xl font-medium">Our Food</h1>
  <p class="text-center w-1/2 mt-5 text-2xs text-gray-800 md:text-lg">
    Every dish we serve is a blend of creativity and passion, crafted to bring you unforgettable
    flavors. From the freshest ingredients to the finest presentation, we make sure each bite tells
    a story worth savoring.
  </p>

  @if (error !== null) {
  } @else if (foods === null) {
    <app-spinner />
  } @else {
    <div class="flex flex-wrap gap-5 align-self-center mt-10 mb-20 mx-auto justify-center">
      @for (food of foods; track food._id) {
        <a
          routerLink="{{ food._id }}"
          class="cursor-pointer transition hover:scale-105 hover:bg-green-50 shadow-lg w-75 pb-5 rounded-xl border-gray-200 text-center border-2 overflow-hidden"
        >
          <img class="" src="{{ food.image }}" alt="" />
          <p class="text-[#39DB4A] font-bold mt-2">$ {{ food.price }}</p>
          <p class="font-bold text-2xs">{{ food.name }}</p>
          <p class="font-medium text-xs text-gray-700 mt-3">
            {{ food.restaurant.name }} Restaurant
          </p>
          <p class="font-medium text-xs text-gray-700">{{ food.restaurant.description }}</p>
        </a>
      }
    </div>
  }
</div>
