<div class="flex flex-col items-center my-10 mx-5">
  <h1 class="text-4xl md:text-6xl font-medium">Our Food</h1>
  <p class="text-center w-1/2 mt-5 text-2xs text-gray-800 md:text-lg">
    Every dish we serve is a blend of creativity and passion, crafted to bring you unforgettable
    flavors. From the freshest ingredients to the finest presentation, we make sure each bite tells
    a story worth savoring.
  </p>

  @if (error !== null) {
    <app-error [error]="error" />
  } @else if (foods === null) {
    <div class="flex justify-center items-center gap-5 mt-10 flex-wrap">
      @for (item of skeletons; track $index) {
        <app-food-card-shimmer />
      }
    </div>
  } @else {
    <div class="flex flex-wrap gap-5 mt-10 mb-20 justify-center">
      @for (food of foods; track food._id) {
        <app-food-item [food]="food" />
      }
    </div>
  }
</div>
